In [ ]:
# !pip install sqlalchemy

# !pip install --upgrade sqlalchemy

In [ ]:
# !pip install psycopg2-binary

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, types
from sqlalchemy import text # to be able to pass string

In [ ]:
#FAO_coffee = pd.read_csv('data/FAOSTAT_data_en_7-24-2025.csv')
FAO_coffee

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (FBS),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2630,Coffee and products,2010,2010,kg/cap,0.00,E,Estimated value,NaN
1,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2630,Coffee and products,2011,2011,kg/cap,0.00,E,Estimated value,NaN
2,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2630,Coffee and products,2012,2012,kg/cap,0.00,E,Estimated value,NaN
3,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2630,Coffee and products,2013,2013,kg/cap,0.00,E,Estimated value,NaN
4,FBS,Food Balances (2010-),4,Afghanistan,645,Food supply quantity (kg/capita/yr),S2630,Coffee and products,2014,2014,kg/cap,0.01,E,Estimated value,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2328,FBS,Food Balances (2010-),716,Zimbabwe,645,Food supply quantity (kg/capita/yr),S2630,Coffee and products,2018,2018,kg/cap,0.07,E,Estimated value,NaN
2329,FBS,Food Balances (2010-),716,Zimbabwe,645,Food supply quantity (kg/capita/yr),S2630,Coffee and products,2019,2019,kg/cap,0.07,E,Estimated value,NaN
2330,FBS,Food Balances (2010-),716,Zimbabwe,645,Food supply quantity (kg/capita/yr),S2630,Coffee and products,2020,2020,kg/cap,0.08,E,Estimated value,NaN
2331,FBS,Food Balances (2010-),716,Zimbabwe,645,Food supply quantity (kg/capita/yr),S2630,Coffee and products,2021,2021,kg/cap,0.15,E,Estimated value,NaN
2332,FBS,Food Balances (2010-),716,Zimbabwe,645,Food supply quantity (kg/capita/yr),S2630,Coffee and products,2022,2022,kg/cap,0.10,E,Estimated value,NaN

In [ ]:
FAO_coffee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333 entries, 0 to 2332
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       2333 non-null   object
 1   Domain            2333 non-null   object
 2   Area Code (M49)   2333 non-null   int64
 3   Area              2333 non-null   object
 4   Element Code      2333 non-null   int64
 5   Element           2333 non-null   object
 6   Item Code (FBS)   2333 non-null   object
 7   Item              2333 non-null   object
 8   Year Code         2333 non-null   int64
 9   Year              2333 non-null   int64
 10  Unit              2333 non-null   object
 11  Value             2333 non-null   float64
 12  Flag              2333 non-null   object
 13  Flag Description  2333 non-null   object
 14  Note              0 non-null      float64
dtypes: float64(2), int64(4), object(9)
memory usage: 273.5+ KB

In [ ]:

# Path to your downloaded files
dr1tot_17_20 = pd.read_sas("data/Data_NHANES/P_DR1TOT_17_20.xpt", format='xport')
bmx_17_20 = pd.read_sas("data/Data_NHANES/P_BMX_17_20.xpt", format='xport')
demo = pd.read_sas("data/Data_NHANES/P_DEMO.xpt", format='xport')


dr2tot_17_20 = pd.read_sas("data/Data_NHANES/P_DR2TOT_17_20.xpt", format='xport')
dsbi_99_23 = pd.read_sas("data/Data_NHANES/DSBI_99_23.xpt", format='xport')
dsii_99_23 = pd.read_sas("data/Data_NHANES/DSII_99_23.xpt", format='xport')


# Display first few rows of each
print("Total Nutrient Intakes2:", dr2tot_17_20.head())
print("Demographics:", demo.head())
print("Blend Info:", dsbi_99_23.head())
print("Ingredient Info:", dsii_99_23.head())

Total Nutrient Intakes2:        SEQN      WTDRD1PP      WTDR2DPP  DR2DRSTZ  DR2EXMER  DRABF  DRDINT  \
0  109263.0   7619.483586  17808.067666       1.0      91.0    2.0     2.0
1  109264.0   8235.895818   7253.761719       1.0      87.0    2.0     2.0
2  109265.0  33535.080310  35612.007356       1.0      78.0    2.0     2.0
3  109266.0   6831.068440   5988.203624       1.0      79.0    2.0     2.0
4  109269.0   7875.706968  18231.925894       1.0      87.0    2.0     2.0

   DR2DBIH  DR2DAY  DR2LANG  ...      DR2TP184  DR2TP204  DR2TP205  DR2TP225  \
0     13.0     1.0      1.0  ...  5.397605e-79     0.035     0.002     0.006
1     10.0     4.0      1.0  ...  5.397605e-79     0.085     0.005     0.004
2     51.0     1.0      1.0  ...  5.397605e-79     0.070     0.002     0.014
3      9.0     5.0      1.0  ...  5.397605e-79     0.028     0.006     0.013
4     15.0     7.0      1.0  ...  1.000000e-03     0.005     0.002     0.001

       DR2TP226  DR2_300  DR2_320Z      DR2_330Z      DR2BWATZ  DR2TWSZ
0  5.397605e-79      2.0     300.0  3.000000e+02  5.397605e-79      1.0
1  3.000000e-03      2.0    1080.0  1.080000e+03  5.397605e-79      1.0
2  7.000000e-03      2.0     480.0  4.800000e+02  5.397605e-79     91.0
3  2.000000e-03      2.0    4057.8  4.057800e+03  5.397605e-79      1.0
4  5.397605e-79      3.0     180.0  5.397605e-79  1.800000e+02      1.0

[5 rows x 85 columns]
Demographics:        SEQN  SDDSRVYR  RIDSTATR  RIAGENDR  RIDAGEYR  RIDAGEMN  RIDRETH1  \
0  109263.0      66.0       2.0       1.0       2.0       NaN       5.0
1  109264.0      66.0       2.0       2.0      13.0       NaN       1.0
2  109265.0      66.0       2.0       1.0       2.0       NaN       3.0
3  109266.0      66.0       2.0       2.0      29.0       NaN       5.0
4  109267.0      66.0       1.0       2.0      21.0       NaN       2.0

   RIDRETH3  RIDEXMON  DMDBORN4  ...  FIAINTRP  MIALANG  MIAPROXY  MIAINTRP  \
0       6.0       2.0       1.0  ...       2.0      NaN       NaN       NaN
1       1.0       2.0       1.0  ...       2.0      1.0       2.0       2.0
2       3.0       2.0       1.0  ...       2.0      NaN       NaN       NaN
3       6.0       2.0       2.0  ...       2.0      1.0       2.0       2.0
4       2.0       NaN       2.0  ...       2.0      NaN       NaN       NaN

   AIALANGA      WTINTPRP      WTMECPRP  SDMVPSU  SDMVSTRA  INDFMPIR
0       NaN   7891.762435  8.951816e+03      3.0     156.0      4.66
1       1.0  11689.747264  1.227116e+04      1.0     155.0      0.83
2       NaN  16273.825939  1.665876e+04      1.0     157.0      3.06
3       1.0   7825.646112  8.154968e+03      2.0     168.0      5.00
4       NaN  26379.991724  5.397605e-79      1.0     156.0      5.00

[5 rows x 29 columns]
Blend Info:    DSDIID                                DSDINGR  DSDBID       DSDBCNAM  \
0    88.0  b'ALIVE! CITRUS BIOFLAVONOID COMPLEX'  1436.0   b'NARIRUTIN'
1    88.0  b'ALIVE! CITRUS BIOFLAVONOID COMPLEX'  1437.0  b'ERIOCITRIN'
2    88.0  b'ALIVE! CITRUS BIOFLAVONOID COMPLEX'  1598.0   b'FLAVONOLS'
3    88.0  b'ALIVE! CITRUS BIOFLAVONOID COMPLEX'  2188.0       b'GRAPE'
4    88.0  b'ALIVE! CITRUS BIOFLAVONOID COMPLEX'  2189.0  b'GRAPEFRUIT'

   DSDBCCAT      DSDBCID
0       4.0  b'10001567'
1       4.0  b'10001568'
2       4.0  b'10001738'
3       3.0  b'10002355'
4       3.0  b'10002356'
Ingredient Info:    DSDPID                                            DSDSUPP  DSDIID  \
0     1.0  b'MYADEC HIGH POTENCY MULTIVITAMIN-MULTIMINERA...    35.0
1     1.0  b'MYADEC HIGH POTENCY MULTIVITAMIN-MULTIMINERA...    45.0
2     1.0  b'MYADEC HIGH POTENCY MULTIVITAMIN-MULTIMINERA...    63.0
3     1.0  b'MYADEC HIGH POTENCY MULTIVITAMIN-MULTIMINERA...    84.0
4     1.0  b'MYADEC HIGH POTENCY MULTIVITAMIN-MULTIMINERA...    94.0

       DSDINGR DSDOPER  DSDQTY  DSDUNIT  DSDCAT  DSDBLFLG     DSDINGID
0    b'BIOTIN'    b'='    30.0      4.0     1.0       2.0  b'10000042'
1     b'BORON'    b'='   150.0      4.0     2.0       2.0  b'10000052'
2   b'CALCIUM'    b'='   162.0      1.0     2.0       2.0  b'10000070'
3  b'CHROMIUM'    b'='    25.0      4.0     2.0       2.0  b'10000093'
4    b'COPPER'    b'='     2.0      1.0     2.0       2.0  b'10000103'

In [ ]:
bmx_17_20.head(8)

,SEQN,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,...,BMXLEG,BMILEG,BMXARML,BMIARML,BMXARMC,BMIARMC,BMXWAIST,BMIWAIST,BMXHIP,BMIHIP
0,109263.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,109264.0,1.0,42.2,NaN,NaN,NaN,NaN,NaN,154.7,NaN,...,36.3,NaN,33.8,NaN,22.7,NaN,63.8,NaN,85.0,NaN
2,109265.0,1.0,12.0,NaN,91.6,NaN,NaN,NaN,89.3,NaN,...,NaN,NaN,18.6,NaN,14.8,NaN,41.2,NaN,NaN,NaN
3,109266.0,1.0,97.1,NaN,NaN,NaN,NaN,NaN,160.2,NaN,...,40.8,NaN,34.7,NaN,35.8,NaN,117.9,NaN,126.1,NaN
4,109269.0,3.0,13.6,NaN,90.9,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.0,NaN,NaN
5,109270.0,1.0,75.3,NaN,NaN,NaN,NaN,NaN,156.0,NaN,...,42.6,NaN,36.1,NaN,31.0,NaN,91.4,NaN,NaN,NaN
6,109271.0,1.0,98.8,NaN,NaN,NaN,NaN,NaN,182.3,NaN,...,40.1,NaN,42.0,NaN,38.2,NaN,120.4,NaN,108.2,NaN
7,109272.0,1.0,7.1,NaN,63.6,NaN,41.3,NaN,NaN,NaN,...,NaN,NaN,13.0,NaN,15.5,NaN,NaN,NaN,NaN,NaN

In [ ]:
bmx_17_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14300 entries, 0 to 14299
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      14300 non-null  float64
 1   BMDSTATS  14300 non-null  float64
 2   BMXWT     14075 non-null  float64
 3   BMIWT     588 non-null    float64
 4   BMXRECUM  1470 non-null   float64
 5   BMIRECUM  43 non-null     float64
 6   BMXHEAD   310 non-null    float64
 7   BMIHEAD   0 non-null      float64
 8   BMXHT     13157 non-null  float64
 9   BMIHT     171 non-null    float64
 10  BMXBMI    13137 non-null  float64
 11  BMDBMIC   4749 non-null   float64
 12  BMXLEG    10984 non-null  float64
 13  BMILEG    488 non-null    float64
 14  BMXARML   13490 non-null  float64
 15  BMIARML   487 non-null    float64
 16  BMXARMC   13484 non-null  float64
 17  BMIARMC   493 non-null    float64
 18  BMXWAIST  12574 non-null  float64
 19  BMIWAIST  617 non-null    float64
 20  BMXHIP    9862 non-null   float64
 21  BMIHIP    376 non-null    float64
dtypes: float64(22)
memory usage: 2.4 MB

In [ ]:
bmx_17_20[['SEQN', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXWAIST']].head()

       SEQN  BMXWT  BMXHT  BMXBMI  BMXWAIST
0  109263.0    NaN    NaN     NaN       NaN
1  109264.0   42.2  154.7    17.6      63.8
2  109265.0   12.0   89.3    15.0      41.2
3  109266.0   97.1  160.2    37.8     117.9
4  109269.0   13.6    NaN     NaN       NaN

In [ ]:
dr1iff_17_20 = pd.read_sas("data/Data_NHANES/P_DR1IFF_17_20.xpt", format='xport')

In [ ]:
demo.head(20)

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,DMDBORN4,...,FIAINTRP,MIALANG,MIAPROXY,MIAINTRP,AIALANGA,WTINTPRP,WTMECPRP,SDMVPSU,SDMVSTRA,INDFMPIR
0,109263.0,66.0,2.0,1.0,2.000000e+00,NaN,5.0,6.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,7891.762435,8.951816e+03,3.0,156.0,4.660000e+00
1,109264.0,66.0,2.0,2.0,1.300000e+01,NaN,1.0,1.0,2.0,1.0,...,2.0,1.0,2.0,2.0,1.0,11689.747264,1.227116e+04,1.0,155.0,8.300000e-01
2,109265.0,66.0,2.0,1.0,2.000000e+00,NaN,3.0,3.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,16273.825939,1.665876e+04,1.0,157.0,3.060000e+00
3,109266.0,66.0,2.0,2.0,2.900000e+01,NaN,5.0,6.0,2.0,2.0,...,2.0,1.0,2.0,2.0,1.0,7825.646112,8.154968e+03,2.0,168.0,5.000000e+00
4,109267.0,66.0,1.0,2.0,2.100000e+01,NaN,2.0,2.0,NaN,2.0,...,2.0,NaN,NaN,NaN,NaN,26379.991724,5.397605e-79,1.0,156.0,5.000000e+00
5,109268.0,66.0,1.0,2.0,1.800000e+01,NaN,3.0,3.0,NaN,1.0,...,2.0,NaN,NaN,NaN,NaN,19639.221008,5.397605e-79,1.0,155.0,1.660000e+00
6,109269.0,66.0,2.0,1.0,2.000000e+00,NaN,2.0,2.0,1.0,1.0,...,2.0,NaN,NaN,NaN,NaN,5906.250521,6.848272e+03,2.0,152.0,9.600000e-01
7,109270.0,66.0,2.0,2.0,1.100000e+01,NaN,4.0,4.0,1.0,1.0,...,2.0,1.0,2.0,2.0,NaN,4613.057696,4.886930e+03,1.0,150.0,1.880000e+00
8,109271.0,66.0,2.0,1.0,4.900000e+01,NaN,3.0,3.0,2.0,1.0,...,2.0,1.0,2.0,2.0,1.0,8481.589837,8.658733e+03,1.0,167.0,NaN
9,109272.0,66.0,2.0,1.0,5.397605e-79,3.0,1.0,1.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,7037.380216,7.872776e+03,1.0,155.0,7.300000e-01
10,109273.0,66.0,2.0,1.0,3.600000e+01,NaN,3.0,3.0,2.0,1.0,...,2.0,1.0,2.0,2.0,1.0,20171.847767,2.216360e+04,1.0,155.0,8.300000e-01
11,109274.0,66.0,2.0,1.0,6.800000e+01,NaN,5.0,7.0,1.0,1.0,...,2.0,1.0,2.0,2.0,1.0,7227.993241,7.801600e+03,2.0,167.0,1.200000e+00
12,109275.0,66.0,2.0,1.0,6.000000e+00,NaN,3.0,3.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,16372.533970,1.761033e+04,2.0,164.0,3.740000e+00
13,109276.0,66.0,2.0,1.0,5.397605e-79,2.0,4.0,4.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,1652.540459,1.810573e+03,1.0,171.0,5.397605e-79
14,109277.0,66.0,2.0,2.0,1.200000e+01,NaN,1.0,1.0,1.0,1.0,...,2.0,1.0,2.0,2.0,2.0,16385.743307,1.751942e+04,2.0,161.0,1.350000e+00
15,109278.0,66.0,2.0,2.0,6.000000e+00,NaN,2.0,2.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,10119.759284,1.095871e+04,1.0,171.0,NaN
16,109279.0,66.0,2.0,2.0,1.700000e+01,NaN,3.0,3.0,2.0,1.0,...,2.0,1.0,2.0,2.0,1.0,11041.633812,1.116780e+04,2.0,169.0,1.190000e+00
17,109280.0,66.0,2.0,2.0,2.000000e+00,NaN,1.0,1.0,2.0,1.0,...,2.0,NaN,NaN,NaN,NaN,14332.246278,1.611506e+04,1.0,155.0,1.710000e+00
18,109281.0,66.0,2.0,2.0,5.397605e-79,1.0,1.0,1.0,1.0,1.0,...,2.0,NaN,NaN,NaN,NaN,2116.528118,2.301304e+03,2.0,150.0,9.400000e-01
19,109282.0,66.0,2.0,1.0,7.600000e+01,NaN,3.0,3.0,2.0,1.0,...,2.0,1.0,2.0,2.0,NaN,28363.015286,3.181635e+04,2.0,164.0,3.610000e+00

In [ ]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15560 entries, 0 to 15559
Data columns (total 29 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SEQN      15560 non-null  float64
 1   SDDSRVYR  15560 non-null  float64
 2   RIDSTATR  15560 non-null  float64
 3   RIAGENDR  15560 non-null  float64
 4   RIDAGEYR  15560 non-null  float64
 5   RIDAGEMN  987 non-null    float64
 6   RIDRETH1  15560 non-null  float64
 7   RIDRETH3  15560 non-null  float64
 8   RIDEXMON  14300 non-null  float64
 9   DMDBORN4  15560 non-null  float64
 10  DMDYRUSZ  3028 non-null   float64
 11  DMDEDUC2  9232 non-null   float64
 12  DMDMARTZ  9232 non-null   float64
 13  RIDEXPRG  1874 non-null   float64
 14  SIALANG   15560 non-null  float64
 15  SIAPROXY  15560 non-null  float64
 16  SIAINTRP  15560 non-null  float64
 17  FIALANG   14481 non-null  float64
 18  FIAPROXY  14481 non-null  float64
 19  FIAINTRP  14481 non-null  float64
 20  MIALANG   11000 non-null  float64
 21  MIAPROXY  11000 non-null  float64
 22  MIAINTRP  11000 non-null  float64
 23  AIALANGA  8224 non-null   float64
 24  WTINTPRP  15560 non-null  float64
 25  WTMECPRP  15560 non-null  float64
 26  SDMVPSU   15560 non-null  float64
 27  SDMVSTRA  15560 non-null  float64
 28  INDFMPIR  13359 non-null  float64
dtypes: float64(29)
memory usage: 3.4 MB

In [ ]:
dr1tot_17_20.head(6)

,SEQN,WTDRD1PP,WTDR2DPP,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
0,109263.0,7619.483586,17808.067666,1.0,14.0,2.0,2.0,4.0,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,109264.0,8235.895818,7253.761719,1.0,81.0,2.0,2.0,5.0,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,109265.0,33535.080310,35612.007356,1.0,88.0,2.0,2.0,19.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,109266.0,6831.068440,5988.203624,1.0,81.0,2.0,2.0,4.0,7.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,109269.0,7875.706968,18231.925894,1.0,88.0,2.0,2.0,9.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,109270.0,11253.515890,14177.916842,1.0,81.0,2.0,2.0,3.0,4.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0

In [ ]:
merged = demo.merge(dr1tot_17_20, on='SEQN').merge(bmx_17_20, on='SEQN')

# Example: caffeine vs BMI
merged[['DR1TCAFF', 'BMXBMI']].dropna().corr()

          DR1TCAFF    BMXBMI
DR1TCAFF  1.000000  0.164408
BMXBMI    0.164408  1.000000

In [ ]:
dr1tot_17_20[['DR1TCAFF']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14300 entries, 0 to 14299
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DR1TCAFF  12392 non-null  float64
dtypes: float64(1)
memory usage: 111.8 KB

In [ ]:
dr1iff_17_20.describe()

,SEQN,WTDRD1PP,WTDR2DPP,DR1ILINE,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,...,DR1IM181,DR1IM201,DR1IM221,DR1IP182,DR1IP183,DR1IP184,DR1IP204,DR1IP205,DR1IP225,DR1IP226
count,183910.000000,183910.000000,1.839100e+05,183910.000000,183910.000000,183910.000000,183910.000000,183910.000000,174783.000000,183910.000000,...,1.825060e+05,1.825060e+05,1.825060e+05,1.825060e+05,1.825060e+05,1.825060e+05,1.825060e+05,1.825060e+05,1.825060e+05,1.825060e+05
mean,117091.688141,26936.526968,2.727404e+04,9.003192,1.047436,72.913876,1.984134,1.864048,12.204293,4.528025,...,1.756106e+00,2.114459e-02,2.020125e-03,1.150229e+00,1.163193e-01,5.808521e-04,9.210919e-03,2.119382e-03,1.735143e-03,3.710645e-03
std,4495.637420,36197.685279,4.368438e+04,6.056732,0.374245,21.422692,0.124959,0.342739,12.938323,2.195818,...,3.494626e+00,6.504972e-02,2.593395e-02,2.607304e+00,3.075174e-01,7.697789e-03,2.942947e-02,3.210288e-02,1.412127e-02,4.926647e-02
min,109263.000000,805.552485,5.397605e-79,1.000000,1.000000,14.000000,1.000000,1.000000,-42.000000,1.000000,...,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
25%,113215.000000,8030.148191,5.317873e+03,4.000000,1.000000,73.000000,2.000000,2.000000,3.000000,2.000000,...,5.397605e-79,5.397605e-79,5.397605e-79,2.000000e-03,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
50%,117143.000000,15105.403495,1.342615e+04,8.000000,1.000000,81.000000,2.000000,2.000000,10.000000,5.000000,...,2.360000e-01,5.397605e-79,5.397605e-79,1.120000e-01,1.600000e-02,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79,5.397605e-79
75%,120978.000000,30874.730753,3.139270e+04,13.000000,1.000000,86.000000,2.000000,2.000000,19.000000,6.000000,...,2.104000e+00,1.700000e-02,5.397605e-79,1.168000e+00,1.000000e-01,5.397605e-79,4.000000e-03,5.397605e-79,5.397605e-79,5.397605e-79
max,124821.000000,538404.429708,7.029436e+05,46.000000,4.000000,94.000000,2.000000,2.000000,91.000000,7.000000,...,9.982000e+01,4.925000e+00,6.974000e+00,1.545150e+02,1.634400e+01,5.800000e-01,1.433000e+00,3.704000e+00,1.642000e+00,4.872000e+00

In [ ]:
dr1iff_17_20.columns

Index(['SEQN', 'WTDRD1PP', 'WTDR2DPP', 'DR1ILINE', 'DR1DRSTZ', 'DR1EXMER',
       'DRABF', 'DRDINT', 'DR1DBIH', 'DR1DAY', 'DR1LANG', 'DR1CCMNM',
       'DR1CCMTX', 'DR1_020', 'DR1_030Z', 'DR1FS', 'DR1_040Z', 'DR1IFDCD',
       'DR1IGRMS', 'DR1IKCAL', 'DR1IPROT', 'DR1ICARB', 'DR1ISUGR', 'DR1IFIBE',
       'DR1ITFAT', 'DR1ISFAT', 'DR1IMFAT', 'DR1IPFAT', 'DR1ICHOL', 'DR1IATOC',
       'DR1IATOA', 'DR1IRET', 'DR1IVARA', 'DR1IACAR', 'DR1IBCAR', 'DR1ICRYP',
       'DR1ILYCO', 'DR1ILZ', 'DR1IVB1', 'DR1IVB2', 'DR1INIAC', 'DR1IVB6',
       'DR1IFOLA', 'DR1IFA', 'DR1IFF', 'DR1IFDFE', 'DR1ICHL', 'DR1IVB12',
       'DR1IB12A', 'DR1IVC', 'DR1IVD', 'DR1IVK', 'DR1ICALC', 'DR1IPHOS',
       'DR1IMAGN', 'DR1IIRON', 'DR1IZINC', 'DR1ICOPP', 'DR1ISODI', 'DR1IPOTA',
       'DR1ISELE', 'DR1ICAFF', 'DR1ITHEO', 'DR1IALCO', 'DR1IMOIS', 'DR1IS040',
       'DR1IS060', 'DR1IS080', 'DR1IS100', 'DR1IS120', 'DR1IS140', 'DR1IS160',
       'DR1IS180', 'DR1IM161', 'DR1IM181', 'DR1IM201', 'DR1IM221', 'DR1IP182',
       'DR1IP183', 'DR1IP184', 'DR1IP204', 'DR1IP205', 'DR1IP225', 'DR1IP226'],
      dtype='object')

In [ ]:
dsbi_99_23.head(20)

,DSDIID,DSDINGR,DSDBID,DSDBCNAM,DSDBCCAT,DSDBCID
0,88.0,b'ALIVE! CITRUS BIOFLAVONOID COMPLEX',1436.0,b'NARIRUTIN',4.0,b'10001567'
1,88.0,b'ALIVE! CITRUS BIOFLAVONOID COMPLEX',1437.0,b'ERIOCITRIN',4.0,b'10001568'
2,88.0,b'ALIVE! CITRUS BIOFLAVONOID COMPLEX',1598.0,b'FLAVONOLS',4.0,b'10001738'
3,88.0,b'ALIVE! CITRUS BIOFLAVONOID COMPLEX',2188.0,b'GRAPE',3.0,b'10002355'
4,88.0,b'ALIVE! CITRUS BIOFLAVONOID COMPLEX',2189.0,b'GRAPEFRUIT',3.0,b'10002356'
5,88.0,b'ALIVE! CITRUS BIOFLAVONOID COMPLEX',2190.0,b'LEMON',3.0,b'10002357'
6,88.0,b'ALIVE! CITRUS BIOFLAVONOID COMPLEX',2191.0,b'LIME',3.0,b'10002358'
7,88.0,b'ALIVE! CITRUS BIOFLAVONOID COMPLEX',2195.0,b'TANGERINE',3.0,b'10002362'
8,88.0,b'ALIVE! CITRUS BIOFLAVONOID COMPLEX',2513.0,b'NARINGIN',4.0,b'10002695'
9,88.0,b'ALIVE! CITRUS BIOFLAVONOID COMPLEX',2514.0,b'FLAVONONES',4.0,b'10002696'
10,88.0,b'ALIVE! CITRUS BIOFLAVONOID COMPLEX',2515.0,b'FLAVONES AND RELATED PHENOLIC COMPOUNDS',4.0,b'10002697'
11,536.0,b'VITALERT HERBAL BLEND',22.0,b'BEE POLLEN',4.0,b'10000029'
12,536.0,b'VITALERT HERBAL BLEND',137.0,b'GINGER ROOT',3.0,b'10000151'
13,536.0,b'VITALERT HERBAL BLEND',150.0,b'GOTU KOLA',3.0,b'10000164'
14,536.0,b'VITALERT HERBAL BLEND',217.0,b'LECITHIN',4.0,b'10000233'
15,536.0,b'VITALERT HERBAL BLEND',454.0,b'SOY PROTEIN CONCENTRATE',3.0,b'10000504'
16,536.0,b'VITALERT HERBAL BLEND',471.0,b'GINSENG (ROOT)',3.0,b'10000524'
17,536.0,b'VITALERT HERBAL BLEND',484.0,b'GUARANA EXTRACT',3.0,b'10000538'
18,536.0,b'VITALERT HERBAL BLEND',491.0,b'ROSE HIPS (FRUIT)',3.0,b'10000545'
19,536.0,b'VITALERT HERBAL BLEND',648.0,b'GINKGO BILOBA LEAF',3.0,b'10000720'